.button {
    -fx-background-color: #9b59b6;
    -fx-border-color: #263238;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-background-radius: 6;
    -fx-font-family: Bangers;
    -fx-font-size: 28;
}

.button:hover {
    -fx-background-color: #ca67e6;
}